<div class="homepage clearfix">
  <h1 class="home-header">Student Security System</h1>

  <div class="student-information clearfix">
    <div class="student-photo pull-left">
      <%= image_tag "dummy_101.jpg", class: "student-photo-img" %>
    </div>
    <div class="student-text-info pull-right">
      <span class="student-txt-inf student-name">Ivan Pilapil</span>
      <span class="student-txt-inf student-id">F100033890</span>
    </div>
  </div>
</div>
