<div class="homepage clearfix">
  <form class="login_user">
    <input type="text" placeholder="ID HERE" name="student_id">
    <div class="clearfix"></div>
    <input type="submit" value="SUBMIT">
  </form>
</div>
