<div class="parent-dashboard">
  <div class="clearfix parent-header">
    <div class="pull-right">
      <span class="parent-student-id">Student ID: F100033890</span>
    </div>
  </div>

  <div class="clearfix parent-student-information">
    <div class="pull-left">
      
    </div>
  </div>
</div>
