body, html {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after { clear: both; }

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


// Homepage
.homepage {
  background: #3498db url("../images/background.png") no-repeat right bottom;
  background-size: 30% auto;
  height: 100vh;
}

.home-header {
  color: #fff;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
  text-indent: 20px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.8s ease;

  img {
    width: 200px;
  }
}

.student-information {
  box-sizing: border-box;
  display: block;
  padding: 30px;
  text-align: center;
}

.home-clock {
  color: #fff;
  text-align: center;
  font-size: 90px;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 7.5%;
}

.box-hr {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: inline-block;
  line-height: 130px;
  margin-left: 5px;
  margin-right: 5px;
  width: 140px;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.student-photo-img {
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  height: 280px;
  width: 280px;
}

.student-text-info {
  margin-left: 35px;
  margin-top: 8px;
}

.student-txt-inf {
  color: #fff;
  display: block;
}

.student-name {
  font-size: 75px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
}

.student-information-div {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.student-id {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 70px;
  letter-spacing: 3px;
  margin: 10px auto;
  font-weight: 700;
  width: 475px;
}

.student-timein {
  color: #badbff;
  font-size: 60px;
  letter-spacing: 3px;
  font-weight: 700;
}

.error-mascott {
  max-width: 225px;
  width: 100%;
}

.swipe-error {
  display: block;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  margin-top: 10%;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;

  .student-txt-inf {
    color: #34495e;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.3);
  }
}

.student-error-1 {
  font-size: 79px;
}

.student-error-2 {
  font-size: 147px;
  line-height: 80px;
}

.student-error-3 {
  font-size: 200px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  position: absolute;
  color: #2c3e50;
  right: -72px;
  top: -3px;
}

// Login User
.login_user {
  text-align: center;

  input {
    border-radius: 3px;
    display: inline-block;
    width: 500px;

    &[type="text"] {
      background: #fff;
      border: 3px solid #f9f9f9;
      padding: 10px 15px;
      height: 45px;
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 20%;
      box-sizing: border-box;
    }

    &[type="submit"] {
      background: #7adbff;
      cursor: pointer;
      color: #333;
      font-weight: 700;
      font-size: 14px;
      border: none;
      padding: 10px 15px;
      height: 45px;
      font-size: 20px;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  }
}
