.parent-dashboard {
  background-color: #ecf0f1;
  height: 100vh;
}

.parent-header {
  background-color: #2980b9;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
}
