.parent-label,
.parent-stud-info {
  font-size: 16px;
  font-weight: 700;
}

.parent-label {
  width: 120px;
  text-align: right;
  margin-right: 15px;
}

.parent-inf-wrap {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:first-of-type {
    margin-top: 10px;
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.parent-stud-info {
  opacity: 0.5;
  font-weight: 400;
}

.parent-dashboard {
  background: #3498db url("../images/background.png") no-repeat right bottom;
  background-size: 30% auto;
  height: 100vh;
}

.parent-wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.parent-header {
  background-color: #2c3e50;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
}

.student-info-wrap {
  background-color: #ecf0f1;
  box-sizing: border-box;
  padding: 35px;
}

.info-wrap-header {
  margin: -35px -35px 35px -35px;
  padding: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background-color: #2980b9;
}

.info-wrap-header-2 {
  padding: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background-color: #2980b9;
}

.parent-student-photo {
  width: 220px;
  height: 220px;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.student-checkin-table {
  background-color: #fff;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  th, td {
    text-align: center;
  }

  th {
    font-size: 17px;
  }
}
