<!DOCTYPE html>
<html>
<head>
  <title>StudentSecuritySystem</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
